@model IEnumerable<MC.Website.ViewModels.MovieVM>

@{
    //ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <td>@item.Title</td>
        </tr>
    </table>
}