@model RestaurantClient.Models.Table
@{
    ViewData["Title"] = "Маса";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="@ViewContext.RouteData.Values["action"]">
    <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control" />
        <span asp-validation-for="Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity" class="control-label"></label>
        <input asp-for="Capacity" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IsAvailable" class="control-label"></label>
        <input asp-for="IsAvailable" class="form-check-input" />
        <span asp-validation-for="IsAvailable" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location" class="control-label"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">💾 Запиши</button>
    <a asp-action="Index" class="btn btn-secondary">Назад</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
